<!DOCTYPE html>
<html>
<style>
*{
  font-family: "lucida handwriting";
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  display: block;
  width: 90px;
  background-color: #1153e0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #430ed4;
}



div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
</style>
<body>

<div>
  <form action="/user/add" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="email">e-mail</label>
    <input type="text" id="email" name="email" placeholder="Your mail id..">

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>


